header.header
    width: 100%
    background: url('/img/bg.svg') no-repeat top
    background-size: cover
    height: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    @include media-breakpoint-down(lg)
        padding-bottom: 8rem
.nav
    padding: 1.5rem 0
    height: auto
    background: white
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)

    .mobile-menu
        display: none
        @include media-breakpoint-down(md)
            display: flex
    .nav-block
        display: flex
        flex-direction: row
        justify-content: space-between
        align-content: center
        align-items: center
.menu
    display: flex
    @include media-breakpoint-down(md)
        display: none
    nav.navigation
        display: flex
        flex-wrap: wrap
        @include media-breakpoint-up(lg)
            font-size: 10px


        .navigation-nav
            display: flex
            flex-direction: row
            margin: 0
            padding: 0
            list-style: none
            .navigation-item
                margin: 0 1rem
                display: flex
                align-items: center
                .navigation-link
                    font-style: normal
                    font-weight: 600
                    font-size: 16px
                    line-height: 25px
                    @include media-breakpoint-down(lg)
                        font-size: 12px
                    color: black
                    &:hover
                        color: #95c5ed
                        text-decoration: none
                .nav-active
                    color: #3490dc
                    border-radius: 30px
                    padding:  0.3rem 0.9rem
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
.contact
    @include media-breakpoint-down(md)
        display: none
    .contact-phone
        font-style: normal
        font-weight: 600
        font-size: 24px
        line-height: 33px
        @include media-breakpoint-down(lg)
            font-size: 16px
.header-content
    padding-top: 3.5rem
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    padding-bottom: 3rem
    @include media-breakpoint-down(sm)
        flex-direction: column-reverse
        justify-content: center
        align-items: center
    @include media-breakpoint-down(lg)
        padding-top: 1.2rem
    .header-content-desc
        display: flex
        flex-direction: column
        flex-wrap: wrap
        width: 40%
        @include media-breakpoint-down(sm)
            width: 90%
            align-items: center

        h1
            font-style: normal
            font-size: 28px
            line-height: 45px
            font-weight: bold
            color: #FFFFFF
            margin-bottom: 2rem
            @include media-breakpoint-down(lg)
                font-size: 25px
            @include media-breakpoint-down(sm)
                text-align: center
        .header-action
            display: flex
            justify-content: left
            align-items: center
    .header-content-img
        @include media-breakpoint-down(sm)
            width: 90%
        width: 60%
        img
            width: 90%
            @include media-breakpoint-down(lg)
                width: 90%

.requirements-block
    color: white
    margin-bottom: 5rem
    @include media-breakpoint-down(lg)
        margin-bottom: 2rem
    h4
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 25px
    ul
        li
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 30px
.header-action
    .order-white-btn
        background: #FFFFFF
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2)
        border-radius: 30px
        color: #2E7CE1
        font-weight: 600
        font-size: 18px
        padding: 1rem 5rem

.eq-header
    display: flex
    flex-direction: column

    &-title
        font-style: normal
        font-weight: 600
        font-size: 36px
        line-height: 49px
        color: #000000
    &-sub-text
        font-size: 24px
        line-height: 33px

    .eq-params
        margin-top: 40px
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 10px
        @include media-breakpoint-down(sm)
            grid-template-columns: 1fr
        .eq-param-item
            display: flex
            align-items: center
            img, p
                padding: 1rem
            p
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 25px

.products
    margin: 100px 0 100px 0
    display: flex
    flex-direction: column
    flex-wrap: wrap

    .product-item
        @include media-breakpoint-down(md)
            flex-direction: column
        display: flex
        margin: 3rem 0
        align-items: center
        justify-content: center
        width: 100%
        .product-image
            background: white
            border-radius: 10px
            width: 60%
            display: flex
            align-items: center
            justify-content: center
            box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15)
            img
                @include media-breakpoint-down(sm)
                    width: 80%
            @include media-breakpoint-down(md)
                width: 100%
        .product-info
            margin: 0 1rem
            background: #FFFFFF
            box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15)
            border-radius: 10px
            padding: 3rem
            width: 40%
            min-height: 380px
            display: flex
            flex-wrap: wrap
            @include media-breakpoint-down(md)
                margin-top: 1rem
                width: 100%
                justify-content: center
            h5
                font-weight: 600
                font-size: 24px
                line-height: 33px
                text-align: left
            ul
                list-style-type: '- '
                margin-bottom: 35px
                li
                    font-size: 16px
                    line-height: 30px
                    text-align: left
    .swap
        flex-direction: row-reverse
        @include media-breakpoint-down(md)
            flex-direction: column
.advantage
    background: linear-gradient(220.91deg, #2E7CE1 13.55%, #30CEF1 165.1%), #C4C4C4
    padding: 3rem
    h1
        font-size: 36px
        line-height: 49px
        color: #FFFFFF
        text-align: center
        margin-bottom: 30px
    .ad-list
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: flex-start
        @include media-breakpoint-down(sm)
            flex-direction: column
        .ad-item
            display: flex
            margin: 1rem
            width: 30%
            @include media-breakpoint-down(sm)
                width: 100%
            .ad-num
                font-weight: 800
                font-size: 90px
                line-height: 123px
                color: rgba(255, 255, 255, 0.2)
                z-index: 1
                width: 1%
            .ad-text
                padding-top: 4rem
                font-size: 18px
                line-height: 25px
                color: #FFFFFF
                z-index: 2

.btn-order-blue
    min-width: 189px
    background: linear-gradient(90deg, #2E7CE1 0%, #1AA7C6 100%)
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2)
    border-radius: 30px
    padding: 1rem 3rem
    font-weight: bold
    font-size: 18px
    line-height: 30px
    justify-content: center
    color: #FFFFFF
    display: flex
    align-items: center
    &:hover
        background: #4aa0e6
        text-decoration: none
        color: white
    @include media-breakpoint-down(md)
        width: 50%
.w-30
    width: 45%
.contacts
    display: flex
    margin-top: 100px
.c-form-block
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
    align-items: center
    .c-info
        background: #ECF4FF
        border-radius: 10px
        padding: 3rem
        width: 35%
        height: 60%
        @include media-breakpoint-down(lg)
            width: 100%
        @include media-breakpoint-down(md)
            width: 100%
        h3
            font-size: 36px
            line-height: 49px
            color: #000000
            font-weight: 600
        .c-info-types
            display: flex
            flex-wrap: wrap
            flex-direction: row
            .c-info-type
                margin: 1rem
                .c-info-title
                    font-weight: 600
                    font-size: 18px
                    line-height: 35px
                    color: #000000
                .c-info-items
                    display: flex
                    justify-content: space-between

    .c-form
        background: #FFFFFF
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15)
        border-radius: 10px
        padding: 3rem
        @include media-breakpoint-down(md)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        h5
            font-weight: 600
            font-size: 36px
            line-height: 49px
            color: #000000
        .form
            display: flex
            flex-direction: column
            .form-input
                background: #ECF4FF
                border-radius: 30px
                color: #000000
                padding: 0.6rem
                border: none
                margin: 1rem 0
                box-shadow: none
                &:focus
                    outline: none
                    border: 1px solid #2E7CE1
                    font-size: 20px
            .btn-order-blue
                @include media-breakpoint-down(md)
                    width: auto
                @include media-breakpoint-down(sm)
                    width: 100%
                    padding: 1rem 1rem
.footer
    margin-top: 100px
    padding-top: 1rem
    background: #2E7CE1
    display: flex
    flex-wrap: wrap
    min-height: 150px
    justify-content: space-between
    align-items: center
    .footer-head
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
        align-items: center
        .made-by
            img
                opacity: 0.5
            &:hover
                    opacity: 1

@media (min-width: 1400px)
    .container
        max-width: 1400px
html
    scroll-behavior: smooth



#menuToggle
    display: block
    position: relative
    z-index: 1
    -webkit-user-select: none
    user-select: none


#menuToggle a
    text-decoration: none
    color: #232323
    transition: color 0.3s ease

#menuToggle a:hover
    color: tomato

#menuToggle input
    display: block
    width: 40px
    height: 32px
    position: absolute
    top: -7px
    left: -5px

    cursor: pointer

    opacity: 0
    z-index: 2
    -webkit-touch-callout: none


#menuToggle span
    display: block
    width: 33px
    height: 4px
    margin-bottom: 5px
    position: relative
    background: #cdcdcd
    border-radius: 3px
    z-index: 1
    transform-origin: 4px 0px
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease

#menuToggle span:first-child
    transform-origin: 0% 0%


#menuToggle span:nth-last-child(2)
    transform-origin: 0% 100%

#menuToggle input:checked ~ span
    opacity: 1
    transform: rotate(45deg) translate(-2px, -1px)
    background: #232323


#menuToggle input:checked ~ span:nth-last-child(3)
    opacity: 0
    transform: rotate(0deg) scale(0.2, 0.2)

#menuToggle input:checked ~ span:nth-last-child(2)
    transform: rotate(-45deg) translate(0, -1px)

#menu
    position: absolute
    display: none
    width: 300px
    margin: -3.3rem 0 0  -14.28rem
    padding: 50px
    padding-top: 125px

    background: #ededed
    list-style-type: none
    -webkit-font-smoothing: antialiased
    transform-origin: 0% 0%
    transform: translate(100%, 0)
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)

#menu li
    padding: 10px 0
    font-size: 22px

#menuToggle input:checked ~ ul
    transform: none
.show-menu
    display: block !important
button.btn-order-blue
    border: none
    outline: none
section.works
    margin-bottom: 10rem
    .gallery
        margin-top: 5rem
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        @include media-breakpoint-down(sm)
            grid-template-columns: 1fr
            grid-row-gap: 2rem
        grid-gap: 2rem
        grid-row-gap: 3rem
        justify-items: center
        .gallery-item img
            max-width: 100%
            border-radius: 1rem



